.nav{
    position: fixed;
    top:0;

    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 20px;


    /* background-color: black; */
    height: 50px;

    z-index: 1;

    /* Transitions */

    transition: all 0.6s;
    transition-timing-function: ease-in;
     
    
}

.nav_logo{
    width: 65px;
    object-fit: contain;

    position: fixed;
    left: 20px;

}

.nav_avatar{
    width: 25px;

    position: fixed;
    right   : 20px;

    object-fit: contain;

}


.navblack{
    background-color: #111;

}